@page "/"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner" Spacing="10">
        <div class="mat-layout-grid-cell" style="mat-layout-grid-cell-span-$(6)-$(desktop)">
            <CLT></CLT>
        </div>
        <div class="mat-layout-grid-cell" style="mat-layout-grid-cell-span-$(6)-$(desktop)">
            <PJ></PJ>
        </div>
    </div>
</div>
